# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\all\learning\techmaster\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
